<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
      <section name="repositoryMappingsConfiguration" type="SubscriberManagement.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, SubscriberManagement.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UMarketSC" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.5.64:8280/services/umarketsc"
                binding="basicHttpBinding" bindingConfiguration="UMarketSC"
                contract="UMarketService.UMarketSC" name="UMarketSC" />
        </client>
    </system.serviceModel>  
  
    <appSettings>
    <!--<add key="init" value="0277551990" />
    <add key="pin" value="1212" />
    <add key="salt" value="0277551990" />-->
    <add key="amount" value="1.0" />
    <!--<add key="fundsource" value="0572729209" />-->

    <add key="reg_agent" value="20311" />
    <add key="init" value="0270926268" />
    <add key="pin" value="1212" />
    <add key="salt" value="0270926268" />
    
    <add key="fundsource" value="tc_welcome_pack" />
 
    <add key="allowedInput" value="*" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

    <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="ISMS" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.SMSRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ITigoProductRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.TigoProjectRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ILoggingRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.LogRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IExternalCompanyRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.ExternalCompanyRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IExternalProductRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.ExternalProductRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ISessionMappingRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.SessionMappingRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ICallPlanRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.CallPlanRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IBonusRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.BonusRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IMiddlewareRepository" repositoryFullTypeName="SubscriberManagement.Infrastructure.Repositories.MiddlewareRepository, SubscriberManagement.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>

    <connectionStrings>
    <add name="db_sms" connectionString="Data Source='10.1.1.95';Initial Catalog='vastrainer';User ID='sa';Password='Millicom123'" providerName="System.Data.SqlClient" />
   
    <add name="db_subscriber" connectionString="Data Source='10.1.1.95';Initial Catalog='sub_bak';User ID='sa';Password='Millicom123'" providerName="System.Data.SqlClient" />

    <add name="db_bb" connectionString="Data Source='10.1.5.96';User ID='subinfomenu'; Password='subinfomenu123'; Persist Security Info='True'; Pooling='false'; Initial Catalog='Blackberry'" providerName="System.Data.SqlClient" />
    <add name="db_log" connectionString="Data Source='10.1.1.95';Initial Catalog='GeneralApplicationLogger';User ID='sa';Password='Millicom123'" providerName="System.Data.SqlClient" />
  </connectionStrings>
  


</configuration>