<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="db_partnerbank"  connectionString="Data Source=10.1.5.137;Initial Catalog=TCPartnerBank;Persist Security Info=True;User ID=tigocash;Password=TigoCash@1234" providerName="System.Data.SqlClient"  />
    <add name="db_zebra" connectionString="Data Source=10.1.5.53;Initial Catalog=Zebra;Persist Security Info=True;User ID=xtreme;Password=Millicom123" providerName="System.Data.SqlClient" />
    <add name="db_subscriber" connectionString="Data Source='10.1.1.95';Initial Catalog='sub_bak';User ID='sa';Password='Millicom123'" providerName="System.Data.SqlClient" />
    <add name="db_bb" connectionString="Data Source='10.1.5.96';User ID='subinfomenu'; Password='subinfomenu123'; Persist Security Info='True'; Pooling='false'; Initial Catalog='Blackberry'" providerName="System.Data.SqlClient" />
    <add name="db_log" connectionString="Data Source='10.1.1.95';Initial Catalog='GeneralApplicationLogger';User ID='sa';Password='Millicom123'"/>
  </connectionStrings>
  
  
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="san asmx">
          <!--Removes the .asmx extension for all pages.-->
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.asmx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <customErrors mode="RemoteOnly"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="init" value="tc_integration" />
    <add key="pin" value="!AIrti23" />
    <add key="salt" value="tc_integration" />


    <!-- live 
    <add key="umarket_point" value="http://10.1.5.81:8280/services/umarketsc" />-->
    <!-- test-->
    <add key="umarket_point" value="http://10.1.5.64:8280/services/umarketsc" />
    
    
  </appSettings>
</configuration>